<!-- modal for sign up -->
<div class="modal fade" id="signupModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Sign Up!</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<%= form_for :user, url: '/users' do |f| %>
					    <%= f.text_field :first_name, placeholder: "First Name" %><br>
					    <%= f.text_field :last_name, placeholder: "Last Name" %><br>
					    <p id="current-city">Choose Your Current City:</p><%= f.collection_select(:city_id, City.all, :id, :name )%><br>
					    <%= f.email_field :email, placeholder: "Email" %><br>
					    <%= f.password_field :password, placeholder: "Password" %><br>
					    <%= f.submit "Sign Up", id: "signup-btn" %>
					<% end %>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->