<%= render 'posts/new' %>
<%= render 'users/editProfile' %>
<div class="container-fluid">
	<button id="profile-post" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newPostModal">Create New Post</button>
<div class="profile-background">
	<div id="profile">
		<div id="profile2">
			<img id="profile-image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/08b/0a4/1e476e9.jpg" alt="Michelle">
		</div>
		<div>
			<p class="profile-text"><%= @current_user.first_name.capitalize %> <%= @current_user.last_name.capitalize %></p>
		<p class="profile-text"><%= @current_user.created_at.strftime("%B, %d, %Y") %></p>
		<p id="city"><%= @current_user.current_city %></p>
		<button id="edit-profile" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
				
		</div>
	</div>
</div>
</div>


<div class="container-fluid">
<div class="row col-sm-12 text-center">
	<h1 id="posts-area-title">Your Posts</h1>
</div>
<% @posts.each do |post| %>
	<div class="col-sm-8 col-sm-offset-2">
		<div class="city-image col-sm-2">
			<% @cities.each do |city| %>
		      <% if city.id == post.city_id %>
				<img src = <%= city.image %>>
		      <% end %>
			<% end %>
		</div>
		<div class="col-sm-8 post-list">
			<h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
			<p><%= post.body %></p>
			<hr>
		</div>
	</div>
<% end %>

