
<div class="control-group">
<%= f.label "City", class: "control-label" %>
	<div class="controls">
<%= f.collection_select(:city_id, options_for_select(:city_id, City.all, :id, :name ))
	  %>
<%= f.text_field :trial, placeholder: "test" %> <br>
<%= f.text_field :title, placeholder: "title" %> <br>
<%= f.text_field :author, placeholder: "author" %><br>
<%= f.text_field :body, placeholder: "body" %>
<hr>
<%= f.submit "Update" %>
</div>
</div>
<% end %>