<body class="posts">
<div id="background2" class="container-fluid">
	<div class="col-sm-8 text-center col-sm-offset-2">
		<div class="row animated fadeIn fade">
			<h4 id="city-name1"></h4><br>
			<img id="profile-image2" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/08b/0a4/1e476e9.jpg" alt="Daniel Kahn">
			<div id="post_content">
				<h2 class="title" id="titleId"><%= @post.title %></h2>
				<h3 class="author"><%= @post.author %></h3>
				<p class="date">
					Submitted <%= time_ago_in_words(@post.created_at) %> Ago
					<% if current_user && current_user.posts.include?(@post) %>
						| <%= link_to 'Edit', edit_post_path(@post) %> |
						  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
				  <% end %>
				</p>
				<p class="body">
					<%= @post.body %>
				</p>
			</div>
		</div>
	</div>
</div>
</body>