<!-- <body class="city">
	<div id="background" class="container-fluid">
		<div class="col-sm-6 text-center col-sm-offset-3">
			<% @cities.each do |city| %>
				<div class="city_wrapper">
					<h2 class="name"><%= city.name %></h2>
					<img src="<%= city.image %>" alt="">
				</div>

			<% end %>
		</div>
	</di>
</body> -->



<!-- 
<% @cities.each do |city| %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="city_wrapper">
				<h2 class="name"><%= city.name %></h2>
				<img src="<%= city.image %>" alt="">
			</div>
				<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=&markers=#{city.latitude}%2C#{city.longitude}", id: "apiTag" %>
		</div>
	</div>
</div>
<% end %> -->


<!-- <div id="map"></div> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script>
      // function initialize() {
      //   var mapCanvas = document.getElementById('map');
      //   var mapOptions = {
      //     center: new google.maps.LatLng(44.5403, -33.5463),
      //     zoom: 2,
      //     mapTypeId: google.maps.MapTypeId.ROADMAP
      //   }
      //   var map = new google.maps.Map(mapCanvas, mapOptions)
      // }
      // google.maps.event.addDomListener(window, 'load', initialize);
    

function initMap() {
  // var myLatLng = [
  // 	{lat: 51.5072, lng: 0.1275},
  // 	{lat: 37.7833, lng: 122.4167},
  // 	{lat: 25.2048, lng: 55.2708},
  // 	{lat: 41.8369, lng: 87.6847},
  // 	{lat: 48.8567, lng: 2.3508},
  // 	{lat: 39.0000, lng: 22.0000}
  // 	];

//   var myLatLng = {lat:0, lng:0};
//   var london = {lat: 51.5072, lng: 0.1275};
//   var sf = {lat: 37.7833, lng: -122.4167};
//   var chicago = {lat: 41.8369, lng: -87.6847};
//   var dubai = {lat: 25.2048, lng: 55.2708};

//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 2,
//     center: myLatLng
//   });

//   var markerLondon = new google.maps.Marker({
//     position: london,
//     map: map,
//     title: 'London'
//   });
  
//   var markerSanFrancisco = new google.maps.Marker({
//     position: sf,
//     map: map,
//     title: 'San Francisco'
//   });

//   var markerChicago = new google.maps.Marker({
//     position: chicago,
//     map: map,
//     title: 'Chicago'
//   });

//   var markerDubai = new google.maps.Marker({
//     position: dubai,
//     map: map,
//     title: 'Dubai'
//   });

//   var markerNewYork = new google.maps.Marker({
//     position: new york,
//     map: map,
//     title: 'New York'
//   });

//   var markerLosAngeles = new google.maps.Marker({
//     position: los angeles,
//     map: map,
//     title: 'Los Angeles'
//   });

//   var markerSeattle = new google.maps.Marker({
//     position: seattle,
//     map: map,
//     title: 'Seattle'
//   });

//   var markerHouston = new google.maps.Marker({
//     position: houston,
//     map: map,
//     title: 'Houston'
//   });

//   var markerBoston = new google.maps.Marker({
//     position: boston,
//     map: map,
//     title: 'Boston'
//   });

//   var markerAustin = new google.maps.Marker({
//     position: austin,
//     map: map,
//     title: 'Austin'
//   });

//  var markerPortland = new google.maps.Marker({
//     position: portland,
//     map: map,
//     title: 'Portland'
//   });

//  var markerWashingtonDC = new google.maps.Marker({
//     position: washington d.c.,
//     map: map,
//     title: 'Washington D.C.'
//   });

//  var markerNewOrleans = new google.maps.Marker({
//     position: new orleans,
//     map: map,
//     title: 'New Orleans'
//   });

// }
// initMap()



// var marker;
// function createMarker(coords, map, title){
//   marker = new google.maps.Marker({
//     position: coords,
//     map: map,
//     title: title
//   });
// }

// createMarker ([44.5403, -33.5463], document.getElementById('map'), "google map")

<head>
</head>

<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<body>
<!-- <div class="jumbotron">
  <div class="container">
    <h1> welcome to nomad.</h1>
    <p> explore the world around you. read & post about travels. </p>

  </div>
</div> -->

<!-- <div class="row">

  <div class="col-md-12"> -->



    <h4>Where shall we go?</h4>
    <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/julfi.fd2c80c9/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoianVsZmkiLCJhIjoiNzVjZTUxZmJmMTMwNTIwMTUwYWUzYWMwZmY2NjVhMzcifQ.iYluRvwwQChus9Ublk3lcg'></iframe>
  </div>


  <div id='map'></div>
</div>

</body>
    </script>